/* All classes for the button used in the project*/

/* Secondary black, seconday, primary and primary-black*/

.button-secondary-black {
    padding: 0.5rem 2rem;
    border-width: 2px;
    border-color: #000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #000;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .button-secondary-black:hover {
    border-color: #fff;
    color: #fff;
    background-color: #000;
  }
  .button-secondary {
    padding: 0.5rem 2rem;
    border-radius: 0.375rem;
    border-width: 2px;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    color: #426b1f;
    border-color: #426b1f;
  }
  .button-secondary:hover {
    border-color: #fff;
    color: #fff;
    background-color: #426b1f;
  }
  .button-primary {
    padding: 0.5rem 2rem;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: rgb(66 107 31);
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: rgb(66 107 31);
    color: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .button-primary:hover {
    background-color: #fff;
    color:rgb(66 107 31);
  }
  .button-primary-black {
    padding: 0.5rem 2rem;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
    background-color: #000;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .button-primary-black:hover {
    color: #000;
    background-color: #fff;
  }